body {
    margin: 0;
    background-color: #fffcfc;

}

.header1 {
    position: relative;
    background-size: 100%;
}

.header1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/Assets/Images/T3.jpg);
    background-size: cover  ;
    opacity: 0.82; /* Adjust opacity value here */
    z-index: -1; /* Keeps the background behind content */
}

.header1 {
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 10px;
}
.title {
    display: flex;
    vertical-align: middle;
}

.title pre {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

.header2 {
    color: #ff0000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 20%;
    align-items: center;
}

.header2{
    background-image: url(/Assets/Images/T3.jpg);
    background-size: 100% ;
    background-position:0 185px;

}

.header2 .bar {
    position: relative;
}

.header2 .bar a {
    text-decoration: none;
    font-size: 19px;
    /* background-color: rgba(15, 47, 152, 0.3); */
    color: rgb(0, 0, 0);
    position: relative;
    padding-bottom: 5px;
    -webkit-transition: 0.2s ease;
}

.header2 .bar :hover{
    color: #ff6363 !important;
} 

.header2 .bar a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000; /* Color of the underline */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.header2 .bar a:hover::after {
    color: #ff6363;
    transform: scaleX(1);
    transform-origin: center;
}
